<div class="d-flex justify-content-around status-container">
  <div class="hpbar d-flex">
    <!-- <span class="gradient-text">{{character.name}}</span> -->
    <span class="gradient-text">Stan</span>
  </div>

  <div class="hpbar d-flex">
    <span class="gradient-text">HP</span>
    <span class="on-light">
      <progress class="border-gradient border-gradient-purple" id="health"
        [value]="hpValue" max="100"></progress>
    </span>
  </div>

  <div class="hpbar d-flex">
    <span class="gradient-text">MP</span>
    <span class="on-light">
      <progress class="border-gradient border-gradient-purple" id="health"
        [value]="hpValue" max="100"></progress>
    </span>
  </div>

  <div class="hpbar d-flex">
    <span class="gradient-text">EXP</span>
    <span class="on-light">
      <progress class="border-gradient border-gradient-purple" id="health"
        [value]="hpValue" max="100"></progress>
    </span>
  </div>

</div>
