
<ul *ngFor="let pet of petForTradeList">
  <!-- Cards come here -->

  <script type='text/javascript'
    src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type='text/javascript'
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script type='text/javascript'
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    type="text/css" rel="stylesheet">

  <div class="container-fluid">
    <div class="row">

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 mb-4">
        <div class="card mx-auto text-center">
          <a href="#url"><img class="card-img-top"
              src="http://placehold.it/350x350" alt="Sample Title"></a>
          <div class="card-body">
            <h2 class="card-title"><span class="fa fa-external-link mr-1"></span><a
                href="#url">Sample Title</a></h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</ul>

<!-- test -->

<h2 class="main-font"> Hello you found the Hidden Section</h2>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper">

        <div class="card">
          <img
            src="../../assets/pets/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper">

        <div class="card">
          <img
            src="../../assets/pets/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper">

        <div class="card">
          <img
            src="../../assets/pets/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card
              title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev carousel-dark" href="#carouselExampleControls"
    role="button"
    data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next carousel-dark" href="#carouselExampleControls"
    role="button"
    data-slide="next">
    <span class="carousel-control-next-icon carousel-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
