<h1>Terms and Conditions for Lifeguild by ChicCuteComic </h1>
<p>

  Welcome to Lifeguild, a todo app developed by ChicCuteComic (hereinafter
  referred to as "ChicCuteComic," "we," or "us"). These terms and conditions
  (the "Agreement") govern your use of the Lifeguild app (the "App"). By
  downloading, accessing, or using the App, you agree to be bound by this
  Agreement. If you do not agree to these terms and conditions, you may not use
  the App.

  <b>Description of the App</b>

  Lifeguild is a productivity app that allows users to create, manage, and
  prioritize
  tasks, set reminders, and collaborate with others. The App is provided "as is"
  and "as available" without any warranties of any kind, either express or
  implied.

  <b>User Accounts</b>

  To use the App, you must create a Lifeguild account by providing your name and
  email address. You are responsible for maintaining the confidentiality of your
  account login information and are solely responsible for all activities that
  occur under your account.

  You agree to provide accurate and complete information when registering for an
  account and to update your information promptly if there are any changes. If
  you suspect any unauthorized use of your account, you must notify
  ChicCuteComic immediately.

  <b>User Content</b>

  Users may create and share content on Lifeguild, such as tasks, fanart, and
  booklists.
  By creating or sharing content, you represent and warrant that
  you own or have the necessary rights to use and share the content.

  You grant ChicCuteComic a non-exclusive, royalty-free, transferable,
  sublicensable, worldwide license to use, store, reproduce, modify, adapt, and
  distribute your content in connection with the operation of Lifeguild and the
  provision of its services.

  <b>Prohibited Conduct</b>

  Users must not use the App for any unlawful or prohibited purpose, including
  but not limited to:

  Impersonating another person or entity
  Uploading or sharing content that infringes on the intellectual property or
  privacy rights of others
  Using the App to transmit viruses, malware, or other harmful code
  Interfering with the operation of the App or its servers
  Attempting to gain unauthorized access to any part of the App

  Ownership and Intellectual Property

  The App and all content, features, and functionality are owned by
  ChicCuteComic and are protected by international copyright, trademark, patent,
  trade secret, and other intellectual property or proprietary rights laws.
  Disclaimer of Warranties

  The App is provided "as is" and "as available" without warranties of any kind,
  either express or implied. ChicCuteComic does not guarantee the accuracy,
  completeness, or reliability of the App or its content.

  Limitation of Liability

  To the maximum extent permitted by law, ChicCuteComic shall not be liable for
  any damages, whether direct, indirect, incidental, special, or consequential,
  arising out of or in connection with the use of the App or its content.
  Indemnification

  You agree to indemnify and hold harmless ChicCuteComic, its affiliates, and
  their respective officers, directors, employees, and agents, from any claims,
  damages, or liabilities arising out of your use of the App or your violation
  of this Agreement.

  Modifications to the App and Agreement

  ChicCuteComic reserves the right to modify, suspend, or discontinue the App or
  its services at any time without notice. We</p>
