footer {
  background-color: var(--key-yellow);
  padding: 10px 100px;
  width: 100%;
  height: 4.5rem;
  /* position: fixed;
  bottom: 0; */
  font-family: 'Sigmar', cursive;
}

.copyright {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}