<h3>This is a miniproject.</h3>
<ul>
  <li><a href="https://www.spriters-resource.com/" target="_blank" rel="noopener
      noreferrer">Spriter's Resource</a></li>
  <li><a href="https://twitter.com/wedge_wolf" target="_blank" rel="noopener
      noreferrer">wedge_wolf @
      Twitter</a></li>
  <li>Sound Effect from <a
      href="https://pixabay.com/sound-effects/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=102918">Pixabay</a></li>
  <li><a href="https://www.flaticon.com/free-icons/dragon" title="dragon icons">Dragon
      icons created by Freepik - Flaticon</a></li>
</ul>
