<div>
  <h2> Gamify Your Life! </h2>
  <p>LifeGuild is a free productivity app that helps
    you keep you motivated and on track for tasks using game mechanics. </p>
  <div>
    <h5>Adopt Cute Pets!</h5>
    <p>Whenever you finish a task, you can earn cute pets that heal you in game
      life, just like real life pets do. </p>

    <h5>Boss Project Fights!</h5>
    <p> Have a big project? That's a boss level monster!
      Break up your tasks into managable subtasks and fight with your team!</p>

      <h5>Earn rewards by doing tasks!</h5>
    <p>Relax and chill with your favourite
      Netflix show with the assurance that you've accomplished everything for
      the day.</p>
  </div>
</div>
