
<div class="background">
  <div class="d-flex justify-content-center align-items-center">
    <h1>User #{{charaSvc.character.userid}}</h1>
    <!-- Name:{{charaSvc.character.charactername}} -->
    Character #:{{charaSvc.character.characterid}}
    Health: {{charaSvc.character.health}}
    <!-- Experience: {{charaSvc.character.experience}} -->
    <!-- Mana{{charaSvc.character.mana}} -->
    <!-- Novice level{{charaSvc.character.novicelevel}} -->
    <!-- Reader level{{charaSvc.character.readerlevel}} -->
    <!-- Character level{{charaSvc.character.characterlevel}} -->
    <!-- Writerlevel{{charaSvc.character.writerlevel}} -->
    Zenny:{{charaSvc.character.coinwallet}}
    <!-- Crystals: {{charaSvc.character.gachacurrency}} -->
    currentpetid: {{charaSvc.character.currentpetid}}
    <!-- unlockedpets: {{charaSvc.character.unlockedpets}} -->
    <!-- currentweaponid: {{charaSvc.character.currentweaponid}} -->
    <!-- unlockedweapons: {{charaSvc.character.unlockedweapons}} -->
    imageUrl: {{charaSvc.character.image}}
    <img src="{{charaSvc.character.image}}">
    <!-- dateCreated: {{charaSvc.character.dateCreated}} -->
  </div>
</div>
